In [2]:
# pandas는 2개의 자료구조를 사용해요!
# numpy를 기본으로 그 위에 Series와 DataFrame이라는 자료구조를
# 정의해서 사용합니다.

# 1. Series : 동일한 데이터 타입의 복수개의 성분으로 구성!
# 2. DataFrame : Table 형식으로 데이터를 저장하는 자료구조

# pandas를 사용하기 위해서는 설치해야 해요!
import numpy as np
import pandas as pd

In [11]:
# Series부터 알아보아요!
# ndarray + 알파 인 자료구조로 생각하시면 편해요!
# 1차원 자료구조
# 같은 데이터 타입이 들어와요!
import numpy as np
import pandas as pd

# ndarray(dtype : np.float64)
# arr = np.array([1,2,3,4,5], dtype=np.float64)
# print(arr)

# arr = np.array([1, 3.14, True, 'Hello'], dtype=np.object)
# print(arr)
# print(arr.dtype)

# Series
s = pd.Series([1,2,3,4,5], dtype=np.float64)
print(s)    # 아하..조금 다르게 출력이되요!
            # 1차원 자료구조.
print('Series의 값만 가져오고 싶어요 : {}'.format(s.values))
print('Series의 index만 가져오고 싶어요 : {}'.format(s.index))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
Series의 값만 가져오고 싶어요 : [1. 2. 3. 4. 5.]
Series의 index만 가져오고 싶어요 : RangeIndex(start=0, stop=5, step=1)

In [14]:
# Series의 index관련된 내용
import numpy as np
import pandas as pd

s = pd.Series([1,5,8,10],
              dtype=np.int32,
              index=['a','b','c','d'])
print(s)
# 5라는 값을 출력하려면 어떻게 해야 하나요?
print(s['b'])  # 5
print(s[1])    # 인덱스가 변경되고 기본적으로 숫자 인덱스는 사용할 수 있어요!

a     1
b     5
c     8
d    10
dtype: int32
5
5

In [21]:
# 만약 index가 같은면 어떻게 되나요??

s = pd.Series([1,5,8,10],
              dtype=np.int32,
              index=['a','b','a','d'])  # index가 같아도 되나요??
print(s)
result = s['a']
print(result)
print(type(result))
result = s['b']
print(result)
print(type(result))

a     1
b     5
a     8
d    10
dtype: int32
a    1
a    8
dtype: int32
<class 'pandas.core.series.Series'>
5
<class 'numpy.int32'>

In [43]:
s = pd.Series([1,5,8,10],
              dtype=np.int32,
              index=['a','b','c','d'])  

# Slicing
# print(s[0:3]) # slicing 그대로 적용이 되요!
# print(s['a':'d']) # 결과가 달라요!

# Fancy indexing, boolean indexing
# print(s[[0,2]])  # Fancy indexing도 사용가능해요!
# print(s[['a','c']])  # Fancy indexing도 사용가능해요!

# print(s[s%2==0]) # boolean indexing도 가능해요!

# 집계함수 사용할 수 있나요?
# print(s.sum())

24

In [61]:
# A 공장의 2020-01-01부터 10일간 생산량을 Series로 저장
# 생산량은 평균이 50이고 표준편차가 5인 정규분포에서 랜덤하게 생성(정수)
# 형식) 2020-01-01 52
#       2020-01-02 49
#       2020-01-03 55

# B공장의 2020-01-01부터 10일간 생산량을 Series로 저장
# 생산량은 평균이 70이고 표준편차가 8인 정규분포에서 랜덤하게 생성(정수)

# 날짜별로 모든(A공장, B공장)의 생산량의 합계를 구하세요!
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

np.random.seed(1)
start_day = datetime(2020,1,1)
# print(start_day)
# 날짜연산은 일반적으로 함수를 이용해서 일단위로 증감, 월, 연단위로 증감
#            주단위로 증감

factory_A = pd.Series([int(x) for x in np.random.normal(50,5,(10,))],
                      dtype=np.int32,
                      index=[start_day + timedelta(days=x) 
                             for x in range(10)])
print(factory_A)

start_day = datetime(2020,1,5)

factory_B = pd.Series([int(x) for x in np.random.normal(70,8,(10,))],
                      dtype=np.int32,
                      index=[start_day + timedelta(days=x) 
                             for x in range(10)])
print(factory_B)

print(factory_A + factory_B)  # Series의 사칙연산은 같은 index를 
                              # 기반으로 수행

# NaN : not a number

2020-01-01    58
2020-01-02    46
2020-01-03    47
2020-01-04    44
2020-01-05    54
2020-01-06    38
2020-01-07    58
2020-01-08    46
2020-01-09    51
2020-01-10    48
dtype: int32
2020-01-05    81
2020-01-06    53
2020-01-07    67
2020-01-08    66
2020-01-09    79
2020-01-10    61
2020-01-11    68
2020-01-12    62
2020-01-13    70
2020-01-14    74
dtype: int32
2020-01-01      NaN
2020-01-02      NaN
2020-01-03      NaN
2020-01-04      NaN
2020-01-05    135.0
2020-01-06     91.0
2020-01-07    125.0
2020-01-08    112.0
2020-01-09    130.0
2020-01-10    109.0
2020-01-11      NaN
2020-01-12      NaN
2020-01-13      NaN
2020-01-14      NaN
dtype: float64

In [67]:
# Series를 리스트를 이용해서 만들고 있어요!
# s = pd.Series([1,5,8,10],
#               dtype=np.int32,
#               index=['a','b','c','d'])  

# Series는 dict를 이용해서 만들수도 있어요!
my_dict = { '서울' : 1000, '인천' : 2000, '수원' : 3000 }

s = pd.Series(my_dict)
print(s)

s.name = '지역별 가격 데이터'
print(s)

print(s.index)
s.index = ['Seoul', 'inchon', 'suwon']
s.index.name = 'Region'
print(s)

서울    1000
인천    2000
수원    3000
dtype: int64
서울    1000
인천    2000
수원    3000
Name: 지역별 가격 데이터, dtype: int64
Index(['서울', '인천', '수원'], dtype='object')
Region
Seoul     1000
inchon    2000
suwon     3000
Name: 지역별 가격 데이터, dtype: int64

In [81]:
# pandas의 DataFrame에 대해서 알아보아요!!

# DataFrame을 만드는 방법부터 알아보아요!!
# dict를 이용해서 dataframe을 생성할 꺼예요!
import numpy as np
import pandas as pd

# 데이터를 가지고 있는 dict부터 정의
my_dict = { 'name' : ['홍길동','신사임당','김연아','강감찬'], 
            'year' : [2015, 2016, 2019, 2016], 
            'point' : [3.5, 1.4, 2.0, 4.5] }

df = pd.DataFrame(my_dict)
display(df)  # dataframe을 출력할때는 print보다 display를 이용
print(df.shape) # (4,3)
print(df.size)  # 12
print(df.ndim)  # 2
print(df.index) # RangeIndex(start=0, stop=4, step=1)
print(df.columns) # Index(['name', 'year', 'point'], dtype='object')
print(df.values) # 2차원 numpy
                # [['홍길동' 2015 3.5]
                #  ['신사임당' 2016 1.4]
                #  ['김연아' 2019 2.0]
                #  ['강감찬' 2016 4.5]]
df.index.name = '학생번호'
df.columns.name = '학생정보'
display(df)

   name  year  point
0   홍길동  2015    3.5
1  신사임당  2016    1.4
2   김연아  2019    2.0
3   강감찬  2016    4.5

(4, 3)
12
2
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'year', 'point'], dtype='object')
[['홍길동' 2015 3.5]
 ['신사임당' 2016 1.4]
 ['김연아' 2019 2.0]
 ['강감찬' 2016 4.5]]

학생정보  name  year  point
학생번호
0      홍길동  2015    3.5
1     신사임당  2016    1.4
2      김연아  2019    2.0
3      강감찬  2016    4.5

In [82]:
# 간단하게 dict를 이용해서 DataFrame을 생성해 봤어요!
# dict를 작성해서 만드는 방식은 연습할때나 혹은 아주 작은양의 데이터를
# 처리할때나 적합한 방식
# 많은 양의 데이터는 일반적으로 파일, Database, Open API를 이용해서 얻어야
# 해요!

# 일반적으로 많이 사용되어지는 데이터 표현 방식.(3가지)
# 1. CSV(Comma Seperated Values)
#    예)홍길동,20,서울,김길동,30,인천,최길동,50,제주,신사임당,40,광주,...
#    장점 : 많은 데이터를 표현하기에 적합, 데이터 사이즈를 작게할 수 있어요
#    단점 : 데이터의 구성을 알기 어려워요. 구조적 데이터 표현이 힘들어요
#           사용이 힘들고, 데이터처리를 위해서 따로 프로그램을 만들어야 해요
#           데이터가 변경됬을때 프로그램도 같이 변경 => 유지보수문제가 발생
#    데이터의 크기가 무지막지하고 데이터의 형태가 잘 변하지 않는 경우는
#    CSV형태가 가장 알맞은 형태
# 2. XML(eXtended Markup Language) : 1990년 초반, 중반
#    예)<person><name>홍길동</name><age>20</age><address>서울</address></person>
#       <person><name>김길동</name><age>30</age><address>인천</address></person>
#       <person><name>최길동</name><age>50</age><address>제주</address></person>
#    장점 : 데이터의 구성을 알기 쉬워요. 사용하기 편해요!
#           프로그램적 유지보수가 쉬워요!
#    단점 : 부가적인 데이터가 많아요!
# 3. JSON(JavaScript Object Notation) : 현재 일반적인 데이터 표현방식
#    자바스크립트 객체표현방식을 이용해서 데이터를 표현하는 방식
#    JSON은 데이터 표현방식이지 특정 프로그래밍 언어와는 상관이 없다.
#    예) { name : '홍길동', age : 20, address : '서울' }
#    장점 : 데이터의 구성을 알기 쉬워요. 사용하기 편해요!
#           프로그램적 유지보수가 쉬워요!, XML보다 용량이 작아요!
#    단점 : CSV에 비해서는 부가적인 데이터가 많아요!

# txt도 많이 쓰이지 않나요?  => 파일의 종류
# 확장자를 이용해서 표현 => .txt, .jpg, .mpg, .exe
# txt도 csv일종인가요?   => .csv
#                        => .json  .xml

In [85]:
# CSV파일을 이용해서 DataFrame을 만들어보아요!!

import numpy as np
import pandas as pd

df = pd.read_csv('./movies.csv')   # C:/python_ML

display(df.head())   # 상위 5개의 행을 출력!
print(df.shape)      # (9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

(9742, 3)

In [ ]:
# DataFrame을 만드는 방법
# 1. dict를 이용해서 수동으로 만드는 방법
# 2. CSV를 이용해서 파일로부터 데이터를 읽어들여서 DataFrame을 만드는 방법
# 3. 기존 Database로부터 데이터를 읽어서 DataFrame을 만드는 방법

# Database 설정하는 부분부터 얘기해야 해요!
# MySQL을 이용할꺼구요. 데이터베이스안에 들어가는 데이터는 제가 드릴꺼예요
# 일단 MySQL을 설치할꺼예요!
# 만약 본인 컴퓨터에 MySQL이 설치되어 있으면 꼭 필요하지 않으면 과감히 
# 삭제하시면 되요!

# MySQL을 이용할건데요.. 설치버전을 이용하지 않을꺼구요. 단독실행파일을 
# 이용한 실행을 시킬꺼예요.
# 1. MySQL 5.6버전을 받으러 가요!
# 2. 다운로드 후 바탕화면에 복사해요. 그리고 압축을 풀어요
# 3. bin폴더로 들어가서 다음의 명령을 도스창에서 실행해요!
# 4. 도스창에서 => msqld    (mysql DBMS를 기동시키는 명령어)
# 5. 만약 정상적으로 시작되면 mysql daemon이 동작하게 되요!
# 6. 데이터베이스를 정상적으로 종료하려면 새로운 도스창을 띄워요!
#    mysqladmin -u root shutdown
# 7. 서버를 기동한 상태에서
# 8. 데이터베이스는 사용자 ID/PW가 있어야지 사용할 수 있어요!
#    그래서 새로운 사용자의 ID와 PW를 설정해 줄꺼예요!
#    그러기 위해서 먼저 mysql console에 들어갈꺼예요!(관리자 권한으로)
#    mysql -u root
# 9. console에 들어가면 mysql> 프롬프트가 보여요!!
# 10. 정상적으로 접속했으면 새로운 사용자를 다음의 명령어를 이용해서 만들어요
#     create user data identified by "data";
# 11. 외부접속을 위해 다음의 명령을 한번 더 실행합니다.
#     create user data@localhost identified by "data";

# 12. 데이터가 저장될 데이터베이스를 생성해야 해요!!
#     우리가 사용하는 mysql은 DBMS(Database Management System)
#     여러개의 Database를 관리하는 프로그램이예요!
#     create database library;

# 13. 새로운 사용자(data)가 새로만든 데이터베이스(library)를 사용할 수 있도록
#     권한을 부여할꺼예요!
#     grant all privileges on library.* to data;
#     grant all privileges on library.* to data@localhost;

# 14. 권한 설정에 대한 refresh를 시켜줘요!
#     flush privileges;

# 15. 설정은 다 끝났으니 이제 console에서 나와요!! 
#     exit;
#     도스창에서 제공된 script file을 이용해서 데이터를 적재할 꺼예요!
#     mysql -u data -p library < _BookTableDump.sql